<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <title>Todo List App</title>
  </head>
  <style>
    .text-decoration-strike {
      text-decoration: line-through;
    }
  </style>
  <body>
    <div
      class="d-flex justify-content-center align-items-center"
      style="min-height: 100vh"
    >
      <div style="max-width: 400px; width: 400px">
        {% block content %}{% endblock content %}
      </div>
    </div>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
