{% extends "base.html" %}
{% load extras %}
{% block content %}
<div class="card mt-md-2 h-100">
  {% include "includes/header.html" %}
  <div class="card-body">

    {% for task in tasks %}
    <div
      class="
        d-flex
        justify-content-between
        align-items-center
        shadow-lg
        p-1
        rounded mt-1
      "
    >

    {% if task.complete %}
      {% define task.complete as style %}
    {% else %}
      {% define task.complete as style %}
    {% endif %}

      <a href="{% url "task-update" task.id %}" class="{{style}}">
      <div class="d-flex align-items-center">
        <div class="dots mt-0">
          <div class="dot1"></div>
        </div>
        {% if task.complete %}
          <span class="ml-1">{{task|title|truncatechars:30}}</span>
        {% else %}
          <span class="ml-1">{{task|title|truncatechars:30}}</span>
        {% endif %}
      </div>
      </a>
      <div class="d-flex">
        <a href="{% url "task-delete" task.id %}" class="mx-1" >
          <i class="fas fa-times"></i>
        </a>
        <span>
          <i class="fas fa-ellipsis-v"></i>
        </span>
      </div>
    </div>



      {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new tasks are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> ! </h3>
    </div>
    {% endfor %}


  </div>
</div>
{% endblock content %}
